.task {
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    display: flex;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    margin-bottom: -5px;
    padding: 5px
}

.taskthings {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    margin-top: 3px;
}

h2 {
    color: gray;
}

button{
    color: gray;
    background-color: lightblue;
    border-radius: 10px;
    width: 80px;
    height: 20px;
    margin-top: 10px;
}

input {
    margin-top: 40px;
}
